<!--
  Generated template for the ItemdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Item</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background-page">
	<p *ngIf="!form.valid && submitAttempt" class="invalidFormText">Hay errores en el formulario.</p>
	<p *ngIf="errorMessage" class="invalidFormText">{{errorMessage}}</p>
	<form [formGroup]="form">	      	
	      	<ion-item>
				<ion-label>T&iacute;tulo</ion-label>
				<ion-input [(ngModel)]="item.title" placeholoder="" 
					formControlName="title"
					[class.invalidFormItem]="!form.controls.title.valid && submitAttempt"
				>{{item.title}}</ion-input>
			</ion-item>
			<ion-item *ngIf="!form.controls.title.valid && submitAttempt">
	            <p class="invalidFormText">Ingresa un t&iacute;tulo.</p>
	        </ion-item>
	      	<ion-item>
	        	<ion-label>Descripci&oacute;n</ion-label>
	        	<ion-textarea [(ngModel)]="item.description"
	        		formControlName="description"
	        		[class.invalidFormItem]="!form.controls.description.valid && submitAttempt"
	        	>{{item.description}}</ion-textarea>
	        </ion-item>
	        <ion-item *ngIf="!form.controls.description.valid && submitAttempt">
	            <p class="invalidFormText">Ingresa una descripci&oacute;n.</p>
	        </ion-item>

	        <img src="{{ item.files[0]? config.get('frontendImages') + item.files[0].file: 'assets/imgs/image-not-available.jpg' }}"/>

	        <ion-item>
			    <ion-label fixed>
			      <button ion-button full small>
			        Cambiar foto
			      </button>
			    </ion-label>
			    <ion-label>
			      {{ selectedFile?.name }}
			    </ion-label>
			    <ion-input class="button-inner" type="file" id="fileInput" accept="image/*" 
			    	(input)="onFileChanged($event)"
			    	[class.invalidFormItem]="errorMessage && submitAttempt"
			    >
			      Select File
			    </ion-input>
		  	</ion-item>
		  	<button ion-button (click)="onUpload(item)" block>Compartir!</button>	  
 	</form>
</ion-content>