<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-page">

	<p *ngIf="!form.valid && submitAttempt" class="invalidFormText">Hay errores en el formulario.</p>
	<p *ngIf="errorMessage" class="invalidFormText">{{errorMessage}}</p>

	<form [formGroup]="form">
		<ion-item>
			<ion-label>Correo</ion-label>
			<ion-input [(ngModel)]="user.email" placeholoder="" type="email" 
				formControlName="email"
				[class.invalidFormItem]="!form.controls.email.valid && submitAttempt"
			>				
			</ion-input>
		</ion-item>
		<ion-item *ngIf="!form.controls.email.valid && submitAttempt">
            <p class="invalidFormText">Ingresa un correo v&aacute;lido.</p>
        </ion-item>

		<ion-item>
			<ion-label>Clave</ion-label>
			<ion-input [(ngModel)]="user.password" type="password" placeholoder=""
				formControlName="password"
				[class.invalidFormItem]="!form.controls.password.valid && submitAttempt"
			>		
			</ion-input>
		</ion-item>
		<ion-item *ngIf="!form.controls.password.valid && submitAttempt">
            <p class="invalidFormText">Clave es obligatoria.</p>
        </ion-item>
		<button (click)="login(user)" ion-button block>Login</button>
	</form>
  	<p>
	  	No tienes una cuenta?
		<button ion-button clear navPush="RegisterPage">Registrate</button>
  	</p>
</ion-content>