<!--
  Generated template for the MessageaddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enviar mensaje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background-page">
	<p *ngIf="!form.valid && submitAttempt" class="invalidFormText">Hay errores en el formulario.</p>
	<p *ngIf="errorMessage" class="invalidFormText">{{errorMessage}}</p>
	<form [formGroup]="form">
        <ion-item>
        	<ion-label></ion-label>
        	<ion-textarea [(ngModel)]="message.description"
        		formControlName="description"
        		[class.invalidFormItem]="!form.controls.description.valid && submitAttempt"
        	></ion-textarea>
        </ion-item>
        <ion-item *ngIf="!form.controls.description.valid && submitAttempt">
            <p class="invalidFormText">Ingresa un mensaje.</p>
        </ion-item>		
 	</form>
  <button ion-button (click)="sendMessage(message)" block>Enviar!</button>
</ion-content>
