<!--
  Generated template for the MyitemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>myitems</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background-page">

</ion-content>
