<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-input type="text" placeholder="Buscar" [(ngModel)]="searchitem.text"></ion-input>
    <ion-buttons end>
        <button ion-button (click)="loadItems(searchitem)" >
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-page">  
  <ion-card 
    *ngFor="let item of itemList" 
    detail-push 
    navPush="{{pagePush}}" 
    [navParams] = "{item: item}"
  >  
    <img src="{{ item.files[0]? config.get('frontendImages') + item.files[0].file: 'assets/imgs/image-not-available.jpg' }}"/>
    <ion-card-content>
      <ion-card-title>
        {{item.title}}
        </ion-card-title>
      <p>
        {{item.description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
