<!--
  Generated template for the PublishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Compartir!</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background-page">	
	<p *ngIf="!form.valid && submitAttempt" class="invalidFormText">Hay errores en el formulario.</p>
	<p *ngIf="errorMessage" class="invalidFormText">{{errorMessage}}</p>
	<form [formGroup]="form">
		<ion-item>
			<ion-label>T&iacute;tulo</ion-label>
			<ion-input [(ngModel)]="item.title" placeholoder="" 
				formControlName="title"
				[class.invalidFormItem]="!form.controls.title.valid && submitAttempt"
			>				
			</ion-input>
		</ion-item>
		<ion-item *ngIf="!form.controls.title.valid && submitAttempt">
            <p class="invalidFormText">Ingresa un t&iacute;tulo.</p>
        </ion-item>

        <ion-item>
        	<ion-label>Descripci&oacute;n</ion-label>
        	<ion-textarea [(ngModel)]="item.description"
        		formControlName="description"
        		[class.invalidFormItem]="!form.controls.description.valid && submitAttempt"
        	></ion-textarea>
        </ion-item>
        <ion-item *ngIf="!form.controls.description.valid && submitAttempt">
            <p class="invalidFormText">Ingresa una descripci&oacute;n.</p>
        </ion-item>

		<ion-item>
		    <ion-label fixed>
		      <button ion-button full small>
		        Agrega foto
		      </button>
		    </ion-label>
		    <ion-label>
		      {{ selectedFile?.name }}
		    </ion-label>
		    <ion-input class="button-inner" type="file" id="fileInput" accept="image/*" 
		    	(input)="onFileChanged($event)"
		    	[class.invalidFormItem]="errorMessage && submitAttempt"
		    >
		      Select File
		    </ion-input>
	  	</ion-item>
 	</form>
  <button ion-button (click)="onUpload(item)" block>Compartir!</button>
</ion-content>
