<!--
  Generated template for the MessagedetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{message.from}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background-page">  
	<ion-item>
      <ion-thumbnail item-start>
        <img src="{{ message.item_file? config.get('frontendImages') + message.item_file: 'assets/imgs/image-not-available.jpg' }}"/>
      </ion-thumbnail>
      <h3><b>{{message.item_title}}</b></h3>	      
      <small>{{message.item_description}}</small>
    </ion-item>

    <ion-grid>
	  <ion-row *ngFor="let mess of messageList">
		    <ion-col col-10 *ngIf="!mess.is_owner"  class="notowner tri-right left-top">
		    	<div *ngIf="!mess.is_owner">
			    	{{mess.message}}
			    	<small>{{mess.created}}</small>
		    	</div>
		    </ion-col>
		    <ion-col col-2 *ngIf="!mess.is_owner">
		    </ion-col>
		    <ion-col col-2 *ngIf="mess.is_owner">
		    </ion-col>
		    <ion-col col-10 *ngIf="mess.is_owner" class="owner tri-right right-top">
		    	<div *ngIf="mess.is_owner">
			    	{{mess.message}}
			    	<small>{{mess.created}}</small>
		    	</div>
		    </ion-col>
	  </ion-row>
	</ion-grid>	

	<form [formGroup]="form">
        <ion-item>
        	<ion-label></ion-label>
        	<ion-textarea [(ngModel)]="message.description"
        		formControlName="description"
        		[class.invalidFormItem]="!form.controls.description.valid && submitAttempt"
        	></ion-textarea>
        </ion-item>
        <ion-item *ngIf="!form.controls.description.valid && submitAttempt">
            <p class="invalidFormText">Ingresa un mensaje.</p>
        </ion-item>		
 	</form>
  	<button ion-button (click)="sendMessage(message)" block>Enviar!</button>

</ion-content>
