$padding: 5%;
$bubble-chat-margin: -50px;
$chat-indicator-margin: -10px;
$chat-indicator-border: 22px solid;
$chat-indicator-border-after: 12px solid;
$chat-indicator-top: -8px;

page-messagedetail {
	.owner{
		background: $color-owner-chat;
		border: think solid black;
		padding: $padding $padding;
		border-top-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}

	.notowner{
		background: $color-notowner-chat;
		border: think solid black;
		padding: $padding $padding;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}

	.notowner.tri-right.border.left-top:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  	left: $bubble-chat-margin;
		right: auto;
	  	top: $chat-indicator-top;
		bottom: auto;
		border: $chat-indicator-border;
		border-color: $color-notowner-chat transparent transparent transparent;
	}
	.notowner.tri-right.left-top:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  	left: $chat-indicator-margin;
		right: auto;
	  	top: 0px;
		bottom: auto;
		border: $chat-indicator-border-after;
		border-color: $color-notowner-chat transparent transparent transparent;
	}

	.owner.tri-right.border.right-top:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  	right: $bubble-chat-margin;
		left: auto;
	  	top: $chat-indicator-top;
		bottom: auto;
		border: $chat-indicator-border;
		border-color: $color-owner-chat transparent transparent transparent;
	}
	.owner.tri-right.right-top:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  	right: $chat-indicator-margin;
		left: auto;
	  	top: 0px;
		bottom: auto;
		border: $chat-indicator-border-after;
		border-color: $color-owner-chat transparent transparent transparent;
	}
}