// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.    
 
.invalidFormItem {
    border: 1px solid #ea6153;
}

.invalidFormText {
    color: #ea6153 !important;
}

#fileInput {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}

$color-owner-chat: #a0bcff; /*light blue*/
$color-notowner-chat: #fcfcfc; /*very light gray*/
$color-background: #e2e2e2; /*a few more dark than notowner*/
$border-radius: 10px;

.background-page{
	background: $color-background;
}

.card {
	border-radius: $border-radius;
}

.item {
	border-radius: $border-radius;
}