<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis mensajes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-page">  
	<ion-list
		*ngFor="let message of messageList" 
	    detail-push 
	    navPush="MessagedetailPage" 
		[navParams] = "{message: message}"
	>
	    <ion-item>
	      <ion-thumbnail item-start>
	        <img src="{{ message.item_file? config.get('frontendImages') + message.item_file: 'assets/imgs/image-not-available.jpg' }}"/>
	      </ion-thumbnail>
	      <h3><b>{{message.from}}</b></h3>
	      <h3><b>{{message.item_title}}</b></h3>	      
	      <h3><b>{{message.created}}</b></h3>	      
	      <small><p>{{message.message}}</p></small>
	    </ion-item>    
  	</ion-list>  
</ion-content>
