<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="black">
      <ion-title>
        Compartamos!
      </ion-title>

      <ion-buttons end>
        <button navPush="AddShoppingItemPage" ion-button>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding class="background-page">
  serch items...
</ion-content>
