<!--
  Generated template for the ItemdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ver Item</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background-page">
	<ion-card>  
    <img src="{{ item.files[0]? config.get('frontendImages') + item.files[0].file: 'assets/imgs/image-not-available.jpg' }}"/>
    <ion-card-content>
      <ion-card-title>
        {{item.title}}
        </ion-card-title>
      <p>
        {{item.description}}
      </p>
      <p>
        Enviado por: {{item.user.name}}
      </p>
    </ion-card-content>
  </ion-card>
  <button ion-button navPush="MessageaddPage" [navParams] = "{item: item, to: {}}">
    Enviar Mensaje
  </button>
</ion-content>